/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=New+Rocker&family=RocknRoll+One&display=swap');

/* overriding default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* page styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: rgb(211, 211, 211);
    font-family: "New Rocker", 'RocknRoll', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'New Rocker', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #e6e6e6;
    text-shadow: red 1px 1px;
}

.hidden-content {
    display: none;
}

/* Header */
header {
    background-color: #464646;
    padding: 0 1rem;
    position: fixed;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

nav {
    position: absolute;
    background-color: #464646;
    width: 100%;
    padding: 0 1rem;
    left: 0;
    top: 100%;
    display: none;
}

#navlink li {
    font-size: 110%;
    letter-spacing: 2px;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

#socialmedia {
    font-size: 110%;
    letter-spacing: 2px;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    align-content: center;
    background-color: #464646;
    text-shadow: red 1px 1px;
}

/* Toggle dropdown menu */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/*Main*/

main {
    display: flex;
    flex-direction: column;
    margin-top: 78.6px;
    flex: 1 0 auto;
}

#rockimg-hero {
    background: url(../images/hero-image-rock.jpg) no-repeat center center/cover;
    width: 100%;
    height: 500px;
    position: relative;
}

#overlaytext-hero {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.65);
    width: 100%;
    height: 500px;
    font-size: 140%;
    padding: 25px 10px;
}

#overlaytext-hero div {
    padding: 25px 0;
}

/* media query ( 768px)*/

@media screen and (min-width: 768px) {

    /*Header*/

}