/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=New+Rocker&family=RocknRoll+One&display=swap');

/* overriding default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* page styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: rgb(211, 211, 211);
    font-family: "New Rocker", 'RocknRoll', sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: 'New Rocker', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #e6e6e6;
    text-shadow: red 1px 1px;
}

.hidden-content {
    display: none;
}

p {
    font-family: "RocknRoll", 'sans-serif';
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #e6e6e6;
    padding-bottom: 25px;
}

.padding-top {
    padding-top: 25px;
}

.padding-bottom {
    padding-bottom: 25px;
}

.active {
    text-decoration: underline;

}

/* Header */
header {
    background-color: #464646;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

nav {
    position: absolute;
    background-color: #464646;
    width: 100%;
    padding: 0 1rem;
    left: 0;
    top: 100%;
    display: none;
    background: linear-gradient(#464646, #0c0c0c);
}

#navlink li {
    font-size: 110%;
    letter-spacing: 2px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
    text-shadow: red 1px 1px;
}

#header-logo {
    font-size: 135%;
    padding-bottom: 10px;
}

/* Toggle dropdown menu */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/*Main*/

main {
    display: flex;
    flex-direction: column;
    margin-top: 46px;
    flex: 1 0 auto;
}

#main-background {
    background: linear-gradient(#464646, #0c0c0c);
}

/* hero image/text overlay */
#rockimg-hero {
    background: url(../images/hero-image-rock.jpg) no-repeat center center/cover;
    width: 100%;
    height: 500px;
    position: relative;
}

#overlaytext-hero {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.65);
    width: 100%;
    height: 500px;
    font-size: 130%;
    padding: 25px 10px;
}

#overlaytext-hero div {
    padding: 25px 0;
}

/* address button style */

#address-button {
    background-color: transparent;
    border-radius: 1rem;
    border-color: #e6e6e6;
    color: #e6e6e6;
    font-size: 150%;
    font-family: "New Rocker", 'RocknRoll', sans-serif;
    text-shadow: red 1px 1px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#address-button a {
    text-decoration: none;
    color: #e6e6e6;
}

#address-button:hover {
    border-color: red;
    background-color: #e6e6e6;
    color: #464646;
}

/* why choose Jail house rock */

#why-rock {
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* lineup image/overlay text */

#lineup-img {
    background: url(../images/lineup-img.jpg) no-repeat center center/cover;
    width: 100%;
    height: 250px;
    position: relative;
}

#overlaytext-lineup {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.65);
    width: 100%;
    height: 250px;
    font-size: 100%;
    padding: 25px 10px;
}

#overlaytext-lineup p {
    padding-top: 25px;
}

/* signup image/overlay text */
#signup-img {
    background: url(../images/signup-img.jpg) no-repeat center center/cover;
    width: 100%;
    height: 250px;
    position: relative;
}

#overlaytext-signup {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.65);
    width: 100%;
    height: 250px;
    font-size: 100%;
    padding: 25px 10px;
}

#overlaytext-signup h2 {
    font-size: 200%;
}

/* Who Is Next image/ overlay text */

#whoisnext-img {
    background: url(../images/whoisnext-img.jpg) no-repeat center center/cover;
    width: 100%;
    height: 250px;
    position: relative;
}

#overlaytext-whoisnext {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.65);
    width: 100%;
    height: 250px;
    font-size: 100%;
    padding: 25px 10px;
}

#overlaytext-whoisnext h2 {
    font-size: 200%;
}

/* Line Up Page */

#lineup-header {
    display: flex;
    align-items: center;
    font-size: 100%;
    padding: 15px 0;
    flex-direction: column;
}

#lineup-header h2 {
    font-size: 100%;
    padding: 15px 0 5px;
}

hr {
    border-top: solid 3px #e6e6e6;
}

.days {
    padding-top: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 110%;
}

.times {
    padding: 15px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 100%;
}

.band-list li {
    list-style-type: none;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 150%;
    padding-bottom: 5px;
    text-shadow: red 1px 1px;
}

/* Sign Up Page */

#signup-page{}

#signup-form{}



/* social media */

#socialmedia {
    font-size: 110%;
    letter-spacing: 2px;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    align-content: center;
    background-color: #0c0c0c;
    text-shadow: red 1px 1px;
}

#socialmedia a {
    color: #e6e6e6;
}

/* media query ( 768px)*/

@media screen and (min-width: 768px) {

    /*Header*/

    header {
        position: relative;
        display: flex;
        align-items: center;
        font-size: 130%;
        padding: 10px 0;
        justify-content: center;
    }

    nav {
        display: flex;
        position: absolute;
        width: 100%;
        background: #464646;
        padding-bottom: 10px;
        align-content: center;
        justify-content: center;
    }

    #navlink {
        display: flex;
    }

    #navlink li {
        padding: 0 38px;
        font-size: 100%;
        align-content: center;

    }

    .nav-toggle-label {
        display: none;
    }

    /* Main */


    main {
        /* raised up to fit next under header */
        margin-top: 36px;
    }

    #best-of,
    #merch {

        width: 70%;
        display: flex;
        flex-direction: column;
        align-self: center;
    }
}

@media screen and (min-width: 992px) {

    #navlink a:hover {
        text-decoration: underline;
    }

    #lineup-img {
        width: 33.33%;
        height: 250px;
    }

    #signup-img {
        width: 33.33%;
        height: 250px;
    }

    #whoisnext-img {
        width: 33.33%;
        height: 250px;
    }

    #three-buttons {
        display: flex;
        flex-wrap: wrap;
        flex: 1;
    }
}

@media screen and (min-width: 1200px) {

    #best-of,
    #merch {

        width: 80%;
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    #why-rock {
        position: relative;
        height: 400px;
    }

    #best-of {
        width: 40%;
        height: 238px;
        position: absolute;
        top: 65px;
        left: 5px;
    }

    #merch {
        width: 40%;
        height: 238px;
        position: absolute;
        top: 91px;
        right: 5px;
    }
}

@media screen and (min-width: 1440px) {
    main {
        width: 1440px;
        display: flex;
        align-self: center;
    }

    body {
        background: url(../images/concert-background.jpg) no-repeat center center/cover;
    }

}